@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* On /Off toggle */
.toggle-btn {
  width: 50px;
  height: 29px;
  background-color: #b7b9ba;
  border: 1px solid #aaa;
  border-radius: 99px;
  transition: #242424 0.1s ease #2c2c2c 0.2s ease;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.748);
  position: relative;
}
/* 
.toggle-btn .thum {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-btn.toggle {
  background-color: #15b58e;
}

.toggle-btn:hover {
  border-color: #6f6f6f;
}

.toggle-btn.toggle .thum {
  left: calc(50px - 25px);
} */
